/* 
    Created on : 26-Nov-2014, 13:39:33
    Author     : Tom
*/

.festivalsList {
    overflow: hidden;
}

.festivalsList .festival {
    display: inline-block;
    width: 45%;
    margin: 0.5em;
    padding: 5px;
    vertical-align: top;
}

.festivalsList .festival .festivalName {
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.festivalsList .festival .festivalData {
    display: none;
    padding: 10px;
}

.festivalsList .festival .festivalData .toggleFavourite,
.festivalsList .festival .festivalData .deleteFestival {
    cursor: pointer;
    width: 100%;
}

.festivalsList .festival .festivalData .id,
.festivalsList .festival .festivalData .name,
.festivalsList .festival .festivalData .type,
.festivalsList .festival .festivalData .flags,
.festivalsList .festival .festivalData .location .latitude,
.festivalsList .festival .festivalData .location .longitude {
    display: none;
}