/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 27, 2014, 1:44:32 PM
    Author     : YatinVadhia
*/

@charset "utf-8";
body  {
    font: 100% Verdana, Arial, Helvetica, sans-serif;
    background: #666666;
    margin: 0; 
    padding: 0;
    text-align: center; 
    color: #000000;
}
.thrColLiqHdr #container { 
    width: 80%; 
    background: #FFFFFF;
    margin: 0 auto; 
    border: 1px solid #000000;
    text-align: left; 
} 
.thrColLiqHdr #header { 
    background: #DDDDDD; 
    padding: 0 10px;  
} 
.thrColLiqHdr #header h1 {
    margin: 0; 
    padding: 10px 0; 
}

.thrColLiqHdr #sidebar1 {
    float: left; 
    width: 22%; 
    background: #EBEBEB; 
    padding: 15px 0; 
}
.thrColLiqHdr #sidebar2 {
    float: right; 
    width: 23%; 
    background: #EBEBEB; 
    padding: 15px 0; 
}
.thrColLiqHdr #sidebar1 p, .thrColLiqHdr #sidebar1 h3, .thrColLiqHdr #sidebar2 p, .thrColLiqHdr #sidebar2 h3 {
    margin-left: 10px; 
    margin-right: 10px;
}


.thrColLiqHdr #mainContent { 
    margin: 0 24% 0 23.5%; 
}

.thrColLiqHdr #footer { 
    padding: 0 10px; 
    background:#DDDDDD;
} 
.thrColLiqHdr #footer p {
    margin: 0; 
    padding: 10px 0; 
    text-align: center;
}


.fltrt { 
    float: right;
    margin-left: 8px;
}
.fltlft { 
    float: left;
    margin-right: 8px;
}
.clearfloat { 
    clear:both;
    height:0;
    font-size: 1px;
    line-height: 0px;
}


