/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26-Nov-2014, 23:23:37
    Author     : Tom
*/

.featurette-divider {
    clear: both;
}

.body {
    padding-top: 50px;
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
}

.form-control {
    margin-bottom: 10px;
}
