/* 
    Created on : 26-Nov-2014, 23:23:37
    Author     : Tom
*/

.share-button {
    margin-bottom: 30px;
}

.form-control {
    margin-bottom: 10px;
}

.featurette {
    margin: 0 auto;
    padding: 0 20px;
}

.back-to-top {
    position: fixed;
    bottom: 2em;
    right: 2em;
    display: none;
}